.container {
    width: 40%;
    margin: auto;
    padding: 2rem;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid var(--navbar-border);
    font-size: 1rem;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 8px;
    background: var(--secondary-accent);
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0;
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.error {
    color: red;
    margin: 1rem 0;
}

.success {
    color: green;
    margin: 1rem 0;
    text-align: center;
}

.link {
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
}

.link a {
    font-size: 0.95rem;
    color: var(--primary-accent);
    text-decoration: underline;
} 